<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
   default-init-method ="init"
   default-destroy-method ="destroy">

   <bean id ="helloBean" class ="org.first.Organization"  >
  <!-- constructor method  <constructor-arg ref = "teaBean" />-->  
  <property name ="HotItem" ref ="teaBean"/>
  <property name ="employees" >
  <list>
  <value>Mr Ram</value>
  <value>Mr Kumar</value>
  <value>Mr Sharma</value>
  </list></property>
  
   </bean>
   <bean id ="teaBean" class ="org.first.Tea"></bean>
	<bean class ="org.first.TestBeanPostProcessor"></bean>   

</beans>